#quiz{
  background: #ecf5ff;
  padding-top: 100px;
  padding-bottom: 100px;
}

#quiz .section-title{
  margin-top: 100px;
  padding-bottom: 100px;
}

#quiz .section-title a{
  margin-top: 50px;
  width: 100px;
}
